@charset "UTF-8";

* {
    padding-left: initial;
    padding-right: 0;
    list-style-type: revert-layer;
    box-sizing: border-box;
}

.wrapper {
    border: 1px solid rgba(7, 17, 27, 0.2);
    box-shadow: -1px 0px 15px #181619bd;
    width: 60%;
    margin: 10px auto;
}

.play-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: -webkit-fill-available;
    border-bottom: 1px solid rgba(7, 17, 27, 0.2);
    background: linear-gradient(273deg, #0d0e0e, #e15723, #3423e1, #e123df, #3d9e13, #23c4e1);
    background-size: 1200% 1200%;
    -webkit-animation: gradient 25s ease infinite;
    -moz-animation: gradient 25s ease infinite;
    animation: gradient 25s ease infinite;
}

@-webkit-keyframes gradient {
    0% {background-position: 0% 51%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 51%}
}

@-moz-keyframes gradient {
    0% {background-position: 0% 51%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 51%}
}

@keyframes gradient {
    0% {background-position: 0% 51%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 51%}
    flex-direction: column;
    opacity: 0.8;
}

.play-wrapper img {
    width: 220px;
    height: 220px;
    object-position: center;
    border-radius: 100%;
}

.blur {
    filter: blur(0.6px);
}

.play-wrapper .detail {
    background-color: #2a2e2f;
    box-sizing: border-box;
    padding-top: 10px;
    flex: 1;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.play-wrapper .detail .info {
    cursor: default;
    margin-bottom: 10px;
}

.play-wrapper .detail .info .name {
    font-size: 1.5rem;
    display: flex;
    line-height: 1.2;
    font-weight: 700;
    color: #cbd1ea;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.play-wrapper .detail .info .singer {
    line-height: 1.2;
    font-size: 15px;
    color: rgb(57 217 226 / 80%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.play-wrapper .controls .ply-btn .novol {
    font-size: xx-large;
    border-radius: 50%;
    color: #fff;
    background-color: #0a0a0a00;
    cursor: pointer;
    border: none;
    -moz-box-shadow: -1px 0px 10px #333333;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.ply-btn, .noVol, .preSongBtn, .nextSongBtn, .playMode {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
}

.progressBar {
    width: 33%;
    height: 5px;
    background-color: #ccc;
    position: relative;
    margin: 0 10px;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    width: 0;
}

.time {
    font-size: 14px;
    color: #6cb7d9;
}

.vol {
    width: 33%;
    padding: 0px 10px;
    height: 5px;
    background-color: #ccc;
    position: relative;
    margin: 0 17px;
}

.nowVol {
    height: 100%;
    background-color: #4caf50;
    width: 50%;
}

.mode {
    display: flex;
    justify-content: center;
}

.wrapper .mode {
    display: flex;
    background-color: #2a2e2f;
}

.wrapper .mode span {
    flex: 1;
    box-sizing: border-box;
    color: #fff;
    height: 28px;
    line-height: 20px;
    font-size: x-large;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.wrapper .mode span:hover {
    color: #D94240;
    border: 1px solid rgba(7, 17, 27, 0.2);
}

.list ul {
    overflow: hidden;
    padding-top: 10px;
}

.list ul li {
    height: 27px;
    border-top: 1px solid rgb(35 131 228 / 20%);
    padding: 0 4px;
    position: relative;
    cursor: pointer;
    color: #274bd8;
}

.list ul li:hover {
    background-color: rgb(41 39 39 / 55%);
    color: white;
}

.list ul li.active {
    position: relative;
    background-color: #5e99b5;
    color: #080808;
}

.list ul li.active:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    content: "";
    background-color: #191515;
    height: 22px;
    width: 3px;
}

.list ul li span {
    line-height: 30px;
    font-size: 12px;
}

.list ul li span.no {
    margin-right: 10px;
}

.list ul li span.songSinger {
    position: absolute;
    right: 10px;
}

.footer {
    font-size: 1rem;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.footer img {
    width: 16px;
    height: 16px;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 2px;
    color: #3770b7;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.alert {
    border: none;
    background-color: transparent;
    padding-left: initial;
    padding-right: 0;
    list-style-type: revert-layer;
    box-sizing: border-box;
    margin: 1px;
}
.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

$main-color: #9191E9;

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    html, body {
        font-size: 12px;
    }
}

.container {
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.button {
    text-decoration: none;
    font-size: .875rem;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #fff;
    color: $main-color;
    padding: 1rem 2rem;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.popup-inner {
    position: relative;
    width: 60%;
    height: 80%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: transform 0.3s ease;
}

.popup__close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 100%;
    background-color: #0A0A0A;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
    text-decoration: none;
}

.popup:target {
    visibility: visible;
    opacity: 1;
}

.popup:target .popup-inner {
    transform: rotate(0);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.list {
    width: 100%;
    overflow-y: auto;
    max-height: 62vh;
    margin-top: 10px;
}

.songContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.songContainer li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 20px;
}

.status-dot.online {
    background-color: green;
}

.status-dot.offline {
    background-color: red;
}

.progressBar, .vol {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    cursor: pointer;
    margin-top: 5px;
}

.progress, .nowVol {
    position: absolute;
    height: 100%;
    background-color: #4caf50;
    width: 0;
}

.ply-btn i, .noVol i, .playMode i, .preSongBtn i, .nextSongBtn i {
    cursor: pointer;
    font-size: 24px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

@media screen and (max-width: 700px) {
    .wrapper {
        border: 1px solid rgba(7, 17, 27, 0.2);
        box-shadow: -1px 0px 15px #181619bd;
        width: 90%;
        margin: 10px auto;
    }

    .play-wrapper img {
        width: 160px;
        height: 160px;
        object-position: center;
        border-radius: 100%;
    }
}
